// Background
$light-grayish-Cyan: hsl(180, 52%, 96%);
// Filter Tablets
$light-grayish-cyan: hsl(180, 31%, 95%);

$primary-color: rgb(91, 164, 164);
$dark-grayish-cyan: hsl(180, 8%, 52%);
$very-dark-grayish-cyan: hsl(180, 14%, 20%);
